   /* index.css */
   .content {
    max-width: 1000px; /* Increase the max-width if necessary */
    margin: auto;
    padding: 10%;
  }

  .gridjs-table {
    width: 100% !important;
    overflow-x: auto;
  }

  .gridjs-th,
  .gridjs-td {
    white-space: normal; /* Allow text to wrap */
  }